
/figures_4/figure_s1/req_lib/
/figures_4/figure_s2/req_lib/
/figures_4/figure_s3/req_lib/
/figures_4/figure_s3/100_ScreeningSimulations/outputs1/


/simulations_4/req_lib/

/simulations_4/000_HglHwglPretraining/pretrainings1/

/simulations_4/000_HglHwglPretraining/pretrainings2/
/simulations_4/200_SimWithHglMethod/pretrainings2/
/simulations_4/300_SimExploringHwglSparsity/pretrainings2/


/simulations_4/100_SimOnlyIpchdMethods/experiments1/data/
/simulations_4/100_SimOnlyIpchdMethods/experiments1/logs/
/simulations_4/100_SimOnlyIpchdMethods/outputs1/data/
/simulations_4/100_SimOnlyIpchdMethods/outputs1/logs/

/simulations_4/200_SimWithHglMethod/experiments1/data/
/simulations_4/200_SimWithHglMethod/experiments1/logs/
/simulations_4/200_SimWithHglMethod/outputs1/data/
/simulations_4/200_SimWithHglMethod/outputs1/logs/

/simulations_4/300_SimExploringHwglSparsity/experiments1/data/
/simulations_4/300_SimExploringHwglSparsity/experiments1/logs/
/simulations_4/300_SimExploringHwglSparsity/experiments1/bic_data/
/simulations_4/300_SimExploringHwglSparsity/outputs1/data/
/simulations_4/300_SimExploringHwglSparsity/outputs1/logs/
/simulations_4/300_SimExploringHwglSparsity/outputs1/bic_data/

/simulations_4/400_SimExploringGlSparsity/experiments1/data/
/simulations_4/400_SimExploringGlSparsity/experiments1/logs/
/simulations_4/400_SimExploringGlSparsity/experiments1/bic_data/
/simulations_4/400_SimExploringGlSparsity/experiments1/bic_plots/
/simulations_4/400_SimExploringGlSparsity/outputs1/data/
/simulations_4/400_SimExploringGlSparsity/outputs1/logs/
/simulations_4/400_SimExploringGlSparsity/outputs1/bic_data/
/simulations_4/400_SimExploringGlSparsity/outputs1/bic_plots/

/simulations_4/500_AggregatedDataExperiments/

/simulations_4/600_AggregatedDataFull/



